
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;

}
.lista{
    display: flex;
    align-items: center;
    list-style: none;

}

.item{
   margin-right: 1em;
   color: #fff;
   text-decoration: none;
}
.item:hover{
    color: blue;
}