.footer {
    color: #fff;
    padding-top: 5px;
    text-align: center;

}

.social_list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
  

}

.social_list li {
    font-size: 1.2rem;
    cursor: pointer;
}

.social_list li:hover {
    color: #ffbb33;
}

.copy_right {
    margin: 0;
    font-size: 0.9rem;
}